<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Rana Faiz Ahmad</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<section class="about alt-bg">
			<div class="container">

				<h1 class="about-heading text-center">About</h1>
				<p class="about-text text-center" v-html="about">
				</p>

			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h1 class="text-center">Projects</h1>
				<div class="row portfolio-cards-container">
					<div class="col-md-4" v-for="project in projects">
						<div class="portfolio-card">
							<img class="img-responsive" v-bind:src="project.imageUrl" v-bind:alt="project.name">
							<h2>{{ project.name }}</h2>
							<p>
								<span v-for="tag in project.tags"> #{{ tag }} </span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="experience alt-bg">
			<div class="container">
				<h1 class="text-center">Experience</h1>
				<p class="experience-text text-center" v-html="experience">
				</p>
			</div>
		</section>

		<section class="skills">
			<div class="container">
				<h1 class="text-center">Skills</h1>
				<div class="all-skills">
					<div class="single-skill" v-for="skill in skills">
						<h6>{{ skill.name }} ({{ skill.percent }}%)</h6>
						<div class="progress">
							<div class="progress-bar progress-bar-{{ skill.className }} progress-bar-striped" style="width: {{ skill.percent }}%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="contact alt-bg">
			<div class="container">
				<h1 class="text-center">Contact</h1>

				<div class="row contact-form-container">
					<div class="col-md-4 col-md-offset-4">
						<form action="http://formspree.io/iamfaizahmed123@gmail.com" method="post">
							<div class="form-group">
								<label for="Name">Name:</label>
								<input type="text" id="Name" name="name" class="form-control">
							</div>
							<div class="form-group">
								<label for="Email">Email:</label>
								<input type="email" id="Email" name="email" class="form-control">
							</div>
							<div class="form-group">
								<label for="Message">Message:</label>
								<textarea name="message" id="Message" class="form-control"></textarea>
							</div>
							<button type="submit" class="btn btn-default">Send</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>